.intro {
  background-image: url("../images/thunder.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  min-height: 600px;
  padding: 40px;
}

.intro-logo {
  width: 100px;
}

.intro .text-lead {
  color: #7fffd4;
  max-width: 70%;
  margin: 0 15%;
}

.intro .title-large {
  color: cyan;
}

@media (max-width: 600px) {
  .intro {
    margin-top: 0;
  }
}
