.fare {
  color: #7f5f3f;
  margin: auto;
  width: 90%;
}

.fare-footer {
  background: #ff8c00;
  border-radius: 0 0 10px 10px;
  padding: 20px 0 30px;
}

.fare-head {
  background: #ff8c00;
  border-radius: 10px 10px 0 0;
  padding: 20px 0 10px;
}

.fare-composition {
  background: #fff4c3;
  margin-bottom: -12px;
  padding: 20px 0;
}

.fare-composition-item {
  list-style: none;
  padding-bottom: 10px;
}

.fare-price {
  padding-top: 16px;
}

.prices {
  margin: 20px auto;
}

.prices-header {
  color: #d57300;
  margin-bottom: 20px;
}
