body {
  color: #93c2dd;
  font-family: 'PT Serif', serif;
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.text-lead {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.text-medium {
  font-size: 14px;
  line-height: 24px;
}

.text-small {
  font-size: 12px;
  font-style: italic;
  line-height: 100%;
  padding-bottom: 10px;
}

.title-large {
  font-size: 40px;
  margin-bottom: 20px;
}

.title-medium {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.title-small {
  font-size: 20px;
  margin-bottom: 8px;
}
